body {
  background-color: white;
  margin: 30px;
}

/* Barra de navegacion */
ul {
  background-color: #FF1818;
  display: flex;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 60px;
}

li {
  float: right;
  border-right: 2px solid #bbb
}

li a {
  display: block;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #314665;
}



.container-logo {
  background-color: #EEEEEE;
  padding: 20px;
}

.img-logo {
  margin: 10px;
  width: 250px;
  display: inline-block;
  position: absolute;
  text-align: center;
}

.title1 {
  color: #FF1818;
  font-size: 45px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.sub1 {
  color: #FF1818;
  font-size: 20px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}


.formulario {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  margin-top: 40px;
  background-color: #EDEDED;
  border-radius: 20px;
}

.formulario h1 {
  border-radius: 20px;
  color: #314665;
  font-weight: bold;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.f-contacto {
  padding: 20px;
  margin: 40px;
  color: #314665;
  font-weight: bold;
  font-size: 20px
}

.f-contacto label {
  font-size: 20px
}

.f-contacto input {
  padding: 3px 15px;
  margin: 10px;
}

.correo {
  position: relative;
  left: 12px;
}
.nombre {
  position: relative;
  left: 8px;
}

.boton {
  background-color: #FF1818;
  color: white;
  font-family: 'Merriweather Sans', sans-serif;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px 30px;
  border-radius: 20px;
  border-style: hidden;
}

.boton:hover {
  background-color: #314665
}

.ubicacion {
  display: flex;
  position: relative;
  bottom: 450px;
  left: 600px;
}
.maps {
  border-style: outset;
  display: flex;
  position: absolute;
  right: 280px;
  top: 520px;
  width: 350px;
  height: 340px;
}

.foot p{
  margin: 30px;
  border-radius: 20px;
  padding: 20px 30px;
  background-color: #314665;
  font-family: 'Merriweather', serif;
  font-size: 15px;
  color: white;
  text-align: left;
}

.instagram  img{
  height: 48px;
  position: relative;
  bottom: 85px;
  left: 810px;
}

.facebook  img{
  height: 40px;
  position: relative;
  bottom: 90px;
  left: 808px;
}

.twitter  img{
  height: 43px;
  position: relative;
  bottom: 88px;
  left: 810px;
}
